.card {
    display: inline-block;
    min-width: 250px;
    padding: 5px;
    width: 15%;
    background-color: rgb(163, 219, 163);
    border: 5px outset green;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    border-radius: 8px;
    word-break: break-all;
}

.card2 {
    display: inline-block;
    min-width: 250px;
    padding: 5px;
    width: 15%;
    background-color: rgb(207, 240, 132);
    border: 5px outset rgb(170, 29, 29);
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    border-radius: 8px;
    word-break: break-all;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header > * {
    margin: 0px;
    display: flex;
}

.actions {
    align-items: center;
}

.actions > * {
    margin: 5px;
}
