.app-header {
    background-color: #4173d8;
    min-height: 10vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h1-header {
    margin: 0px;
    color: rgb(231, 235, 33);
    text-shadow: 3px 3px 5px black;
    text-align: center;
}

.nav-bar {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(230, 231, 167);
}

.nav-bar * {
    margin: 10px;
}

.badge {
    border-radius: 10px;
    position: absolute;
    left: 10px;
    padding: 5px;
    background-color: rgb(197, 108, 36);
    color: rgb(235, 231, 12);
}

.badge p {
    border-radius: 15px;
    padding: 5px;
    margin: 0px;
    display: inline-block;
    background-color: lightgreen;
    color: rgb(150, 47, 47);
    font-weight: bold;
}

.active {
    color:rgb(197, 108, 36);
    text-decoration: underline;
}
